<!DOCTYPE html>
<head>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Bungee+Shade|Faster+One|Monoton|Nixie+One|Sacramento" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_club.css' %}">
    <title>Create Club Profile</title>
  </head>
  <body>
    <!-- <div id = "tabs" class = "container-fluid">
      <a href = "FinalProjectHTML.html">HOME</a>
    </div> -->
    <h1>Create Club Profile</h1>
    <!-- {% block content %} -->
  <div id="section1" class="container-fluid">
    <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>






    <!-- <div class="side1">
      <div class="image"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div>
      <div class="meetings"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div>
      <div class="events"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div>
    </div>
    <div class="side2">
      <div class="name"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div>
      <div class="bio"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div>
      <div class="contact"> -->
        <!-- <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
          <textarea name="text" placeholder="MEETINGS" class="meetings-input"></textarea>
        </form> -->
      <!-- </div> -->
      <!-- <button type="submit" class="save btn btn-default">Submit</button>
    </form> -->
    <!-- {% endblock %} -->
    <!-- </div>
  </div> -->
  <!-- <div id="section2" class="container-fluid">
    <div class="container", "col-xs-1">
      <div class="text">Garfield High School</div>
    </div>
    <div class="container", "col-xs-2">
      <div class="text">sflbjnrnwrjkfdmnvx</div>
    </div>
    <div class="container", "col-xs-3">
      <div class="text">sflbjnrnwrjkfdmnvx</div>
    </div>
  </div> -->


  </body>
  </html>
